<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
<title>Logical Admin</title>
<!--Import Google Icon Font-->
<link href="https://fonts.googleapis.com/icon?family=Material+Icons"
	rel="stylesheet" />
<!--Import materialize.css-->
<link type="text/css" rel="stylesheet"
	href="../materialize/css/materialize.min.css" media="screen,projection" />
<meta charset="UTF-8">

<style type="text/css">
.input-field{
	margin-top:0px;
	margin-bottom: 0px
}

</style>
</head>

<body>
	<div th:replace="fragments/header :: header"></div>
	<div class="container row col s12" style="margin-top: 20px">
		
		<div class="col s4">
			<a href="/clientes" class="btn waves-effect waves-light red lighten-1"><i class="material-icons left">arrow_back</i>Voltar</a>			
		</div>
		<div class="col s4 center-align">
				<h5>Adicionar Novo Cliente</h5>
		</div>
		<div class="col s4 right-align">
				
		</div>
		
	</div>
	<!-- Page Layout here -->
	<div class="container row">
		<div class="row">
			<form class="col s12" action="cadastrarCliente" method="post">
				<div class="row">
					<div class="input-field col s9">
						<input id="nome" type="text" class="" name="nome"> 
						<label for="nome">Nome Completo</label>
					</div>
					<div class="input-field col s3">			 
						<select name="sexo" class="browser-default">
							<option value="masculino" selected>Masculino</option>
							<option value="feminino">Feminino</option>
						</select>
					</div>
				</div>
				<div class="row">
					<div class="input-field col s12">
						<input id="end" type="text" class="" name="endereco"> 
						<label for="end">Endereço</label>					
					</div>	
				</div>
				<div class="row">				
						<div class="input-field col s5">
							<input id="cpf" type="text" class="" name="cpf"> 
							<label for="cpf">CPF</label>
						</div>
						<div class="input-field col s2">
							<select name="tipoDoc" class="browser-default">
								<option value="RG" selected>RG</option>
								<option value="PASSAPORTE">PASSAPORTE</option>
								<option value="DOC">OUTRO</option>
							</select>
						</div>
						<div class="input-field col s5">
							<input id="doc" type="text" class="" name="doc"> <label for="doc" >Outro
								Documento</label>
						</div>					
				</div>
				<div class="row">
					<div class="input-field col s3">
						<input id="tel1" type="text" class="" name="tel1"> 
							<label for="tel1">Telefone 1</label>					
					</div>
					<div class="input-field col s3">
						<input id="tel2" type="text" class="" name="tel2"> 
							<label for="tel2">Telefone 2</label>					
					</div>
					<div class="input-field col s6">
						<input id="email" type="text" class="" name="email"> 
							<label for="email">Email</label>					
					</div>	
				</div>
				<div class="row">
					<div class="input-field col s6">
						<input id="data" type="text" class="" name="dataNascimento"> 
							<label for="data">Data de Nascimento</label>					
					</div>
					<div class="input-field col s6">
						<input name="dataInclusao" th:value="${#dates.format(#dates.createNow(),'dd/MM/YYYY')}" id="data-inclusao" type="text" class="validate"> 
							<label for="dataInclusao" >Data de Inclusão</label>					
					</div>		
				</div>
				<div class=" col s12 right-align">
					<button class="btn waves-effect waves-light" type="submit" name="action">Salvar
				    <i class="material-icons right">send</i>
				  </button>
				</div>
				
			</form>
		</div>
	</div>
<script type="text/javascript" src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
<script type="text/javascript" src="../materialize/js/materialize.min.js"></script>

</body>


</html>