<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
	<title th:text="'Recibo '+${recibo.nome}+' - '+ ${recibo.dataEmissao}">Admin Financeiro</title>
	<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet"/>
	<link type="text/css" rel="stylesheet" href="materialize/css/materialize.min.css" media="print,screen" />
	<meta charset="UTF-8">	
<style type="text/css">

@media print
	{
	.noprint {display:none;}
	}

@media screen
	{
	
	}

</style>
<script type="text/javascript">
	
	meses = new Array("Janeiro","Fevereiro","Março","Abril","Maio","Junho","Julho","Agosto","Setembro","Outubro","Novembro","Dezembro");
	semana = new Array("Domingo","Segunda-feira","Terça-feira","Quarta-feira","Quinta-feira","Sexta-feira","Sábado");
	
	function dataExtenso(data) {
		var str = data+"";
		var res = str.split("/");
		dia = res[0];
		mes = res[1];
		ano = res[2];
		diaext = dia + " de " + meses[parseInt(mes)-1]
		+ " de " + ano;
		document.getElementById("data-ext").innerHTML = diaext;
	}			
	
</script>
<body th:onload="'dataExtenso(\'' + ${recibo.dataEmissao} + '\');'">
	
	<div th:replace="fragments/header :: header"></div>
	<div class=" noprint container row col s12" style="margin-top: 20px">
		
		<div class="col s6">
			<a href="/recibos" class="btn waves-effect waves-light red lighten-1"><i class="material-icons left">arrow_back</i>Voltar</a>			
		</div>
		<div class="col s6 right-align">
			<a href="http://html2pdfrocket.com/html/topdf?apikey=42532255-cedd-4417-85a8-12cea1dc1a2b" class="btn waves-effect waves-light teal accent-4"><i class="material-icons right">picture_as_pdf</i>Gerar PDF</a>
			<a href="javascript:window.print()" class="btn waves-effect waves-light teal accent-4"><i class="material-icons right">print</i>Imprimir</a>
				
		</div>
		
	</div>
	
	<div class="container">
		<div style="margin-top: 20px" class="row">
			<div class=" col s6">
				<img style="width: 240px;height: 120px" src="img/Logo_Macarena.jpg">
			
			</div>	
			<div class="col s6 right-align">
				<b>Condomínio MACARENA FLAT</b><br/>
				Rua Sergipe, nº 85<br/>Ponta Negra, Natal - RN<br/>
				Tel: 84 - 3219-5672<br/>
				<i>www.macarenaﬂat.com.br</i>
			
			</div>	
		
		</div>
		
		<div class="row">			
			<br/><br/><div class="center-align"><h4>Recibo</h4></div><br/><br/>		
		</div>
		
		<div style="width: 80%" class="row">			
			<div style="font-size: 15pt;text-align: justify;text-justify: inter-word;" class="">
				<p>Recebi do Sr.(a) <b><span th:text="${recibo.nome}"></span></b>, com CPF sob o nº <b><span th:text="${recibo.cpf}"></span></b>, 
				a quantia de <b><span th:text="${valorFormatado}"></span> (<span th:text="${valorExtenso}"></span>)</b>, referente a (ao) 
				<b><span th:text="${recibo.referencia}"></span></b>. 
				Dando plena, total e irrevogável quitação.
				</p>
				<br/><br/>
				<p class="right-align"> Natal, <span id="data-ext"></span>.</p>
				<br/><br/>
				<p class="center-align">
				_____________________________________________<br/>
				<b>M. DE F. DA COSTA</b><br/>
				CNPJ: 13.345.200/0001-28<br/>
				Rua Pedro Fonseca Filho, 8821<br/>
				Ponta Negra, Natal- RN<br/>
				Tel: 84 - 99939-4472
				
				</p>
			</div>		
		</div>
	</div>			
</body>
</html>
