<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
	<title>Recibo - Macarena Flat</title>
	<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet"/>
	<link type="text/css" rel="stylesheet" href="materialize/css/materialize.min.css" media="print,screen" />
	<meta charset="UTF-8">
<style type="text/css">

@media print
	{
	.noprint {display:none;}
	}

@media screen
	{
	
	}

</style>

<body>
	<div class="container">
		<div style="margin-top: 20px" class="row">
			<div class=" col s6">
				<img style="width: 240px;height: 120px" src="img/Logo_Macarena.jpg">
			
			</div>	
			<div class="col s6 center-align">
				<b>Condomínio MACARENA FLAT</b><br/>
				Rua Sergipe, nº 85<br/>Ponta Negra, Natal - RN<br/>
				Tel: 84 - 3219-5672<br/>
				<i>www.macarenaﬂat.com.br</i>
			
			</div>	
		
		</div>
		
		<div class="row">			
			<br/><br/><div class="center-align"><h4>Recibo</h4></div><br/><br/>		
		</div>
		
		<div style="width: 80%" class="row">			
			<div style="font-size: 15pt;text-align: justify;text-justify: inter-word;" class="">
				<p>Recebi do Sr.(a) <b><span th:text="${recibo.nome}"></span></b>, com CPF sob o nº <b><span th:text="${recibo.cpf}"></span></b>, 
				a quantia de <b><span th:text="${valorFormatado}"></span> (<span th:text="${valorExtenso}"></span>)</b>, referente a (ao) 
				<b><span th:text="${recibo.referencia}"></span></b>. 
				Dando plena, total e irrevogável quitação.
				</p>
				<br/><br/><br/><br/>
				<p class="center-align">
				_____________________________________________<br/>
				<b>M. DE F. DA COSTA</b><br/>
				CNPJ: 13.345.200/0001-28<br/>
				Rua Pedro Fonseca Filho, 8821<br/>
				Ponta Negra, Natal- RN<br/>
				Tel: 84 - 99939-4472
				
				</p>
			</div>		
		</div>
	</div>			

		<a class="noprint" href="javascript:window.print()">Print</a>
</body>
</html>
